<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars Facts</h1>
      <p>Get facts about Mars along with current news articles and weather data.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  
  <div class="container-fluid">
    
    <div class="row">
      <h1>Latest Mars News</h1>
      <h3>{{ mars_facts.News_Title }}</h3>
      <p>{{ mars_facts.News_Paragraph }}</p>
    </div>
    
    <div class="row">

      <div class="col col-lg-9">
        <h1>Featured Mars Image</h1>
        <img src="{{ mars_facts.Featured_Image }}" alt="Featured Mars Image">
      </div>
      
      <div class="column"></div>
      <div class="col col-lg-3">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Mars Weather</h4>
            <p class="card-text">{{ mars_facts.Mars_Weather}}</p>
          </div>
        </div>
        <hr>
        <h4>Mars Facts</h4>
        <p>{{ mars_facts.Mars_Facts | safe }}</p>
      </div>
      </div>

    </div>
    
    <div class="row">
      <h1><center>Mars Hemispheres</center></h1>
      <hr>
      {% for hemisphere in mars_facts.Mars_Hemispheres %}
      <div class="col-lg-6">
        <div class="thumbnail">
          <img src="{{hemisphere.image_url}}">
          <h3>{{hemisphere.title}}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
         
  </div>
</body>

</html>